useDynLib(RxCEcolInf)
import(MASS)
import(MCMCpack)
import(mvtnorm)
import(lattice)

export(
       Analyze,
       AnalyzeWithExitPoll,
       Tune,
       TuneWithExitPoll,
       gendata.ep
       )
